<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047802775722-h8qajb26qe4e0j4uknh3hid3ogd85jci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047802775722-h8qajb26qe4e0j4uknh3hid3ogd85jci</string>
	<key>API_KEY</key>
	<string>AIzaSyCuqprNUdryi32K-XTyGrUZgtmQeWdcamo</string>
	<key>GCM_SENDER_ID</key>
	<string>1047802775722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.sample</string>
	<key>PROJECT_ID</key>
	<string>musings-98421</string>
	<key>STORAGE_BUCKET</key>
	<string>musings-98421.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047802775722:ios:5c85b86ae00d071b03a8d3</string>
</dict>
</plist>